.DS_Store
.tm_properties
*.lb
*.log
*.toc
*.out
*.aux
*.cut
*.blg
*.errors
*.exnum
*.lstnum
*_.cdb
*.cdbidx
*.cdblog
*.cdbtxt
*.synctex.gz
*.hide.txt
.example*
.exercises*
.ex-*
.summary*
.tutorial*
private
sync.sh
diff.sh
sync-exclude
TO-DO.txt
__pycache__
